{% extends "base.html" %}
{% block content %}
    <div class="actuators-container">
        {% for actuator, actuator_details in actuators.items() %}
            <div class="actuator-block">
                <div class="actuator-description">
                    <div class="actuator-desc-left">
                        <h4>{{ actuator }}</h4>
                        <img src="{{ url_for('static', filename='images/' + actuator_details.image) }}" alt="{{ actuator.name }}">
                    </div>
                    <div class="state">
                        <h2>{{ actuator_details.state }}</h2>                             
                    </div>
                </div>
                <div class="controls">
                    <form method="post">
                        <input type="hidden" name="actuator" value="{{ actuator }}">
                        <button class="controls-on" name="action" value="On">On</button>
                        <button class="controls-off" name="action" value="Off">Off</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
