<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensores e Atuadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Escolha</h2>
            <ul>
                <li><a href="#">Sensores</a></li>
                <li><a href="#">Atuadores</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Sensores e Atuadores</h1>
            </div>
    </div>

</body>
</html>
