{% extends "base.html" %}

{% block content %}
<div class="users-container">
    {% for user in users %}
    <div class="user-block">
        <div class="user-description">
            <div class="user-desc-left">
                <h4>{{ user.username }}</h4>
                <img src="{{ url_for('static', filename='images/' + (user.image if user.image else 'user.jpg')) }}" alt="{{ user.username }}">
            </div>
        </div>
        <div class="user-controls controls">
            <form action="{{ url_for('user_bp.edit_user', user_name=user.username) }}" method="post">
                <input type="text" name="new_name" placeholder="New Name" value="{{ user.username }}">
                <input type="password" name="new_password" placeholder="New Password">
                <button type="submit" class="edit-button">Edit</button>
            </form>
            <form action="{{ url_for('user_bp.del_user') }}" method="post">
                <input type="hidden" name="name" value="{{ user.username }}">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="add-user">
        <form action="{{ url_for('user_bp.add_user') }}" method="post">
            <input type="text" name="name" placeholder="Enter user name" required>
            <input type="password" name="password" placeholder="Enter user password" required>
            <button type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}
