{% extends "base.html" %}

{% block content %}
<div class="sensors-container">
    {% for sensor in sensors %}
    <div class="sensor-block">
        <div class="sensor-description">
            <div class="sensor-desc-left">
                <h4>{{ sensor.name }}</h4>
                <img src="{{ url_for('static', filename='images/' + (sensor.image if sensor.image else 'default.jpg')) }}" alt="{{ sensor.name }}">
            </div>
            <div class="sensor-value">
                <h2>{{ sensor.value }}</h2>
            </div>
            <div class="sensor-controls controls">
                <form action="{{ url_for('sensor_bp.edit_sensor', sensor_id=sensor.id) }}" method="post">
                    <input type="text" name="new_name" placeholder="New Name" value="{{ sensor.name }}">
                    <input type="text" name="new_value" placeholder="New Value" value="{{ sensor.value }}">
                    <button type="submit" class="edit-button">Edit</button>
                </form>
                <form action="{{ url_for('sensor_bp.del_sensor') }}" method="post">
                    <input type="hidden" name="id" value="{{ sensor.id }}">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="add-sensor">
        <form action="{{ url_for('sensor_bp.add_sensor') }}" method="post">
            <input type="text" name="name" placeholder="Enter sensor name" required>
            <input type="text" name="value" placeholder="Enter sensor value" required>
            <button type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}
