{% extends "base.html" %}

{% block content %}
<div class="remote-commands">
    <h1>Remote Commands</h1>
    <form method="POST">
        <ul>
            {% for actuator in actuators %}
            <li>
                {{ actuator.name }}: {{ actuator.state }}
                <button type="submit" name="action" value="On">On</button>
                <button type="submit" name="action" value="Off">Off</button>
                <input type="hidden" name="actuator" value="{{ actuator.name }}">
            </li>
            {% endfor %}
        </ul>
    </form>
</div>
{% endblock %}
