{% extends "base.html" %}

{% block content %}
<div class="sensors-container">
    {% for sensor in sensors %}
    <div class="sensor-block">
        <div class="sensor-description">
            <div class="sensor-desc-left">
                <h4>{{ sensor.name }}</h4>
                <img src="{{ url_for('static', filename='images/' + sensor.image) }}" alt="{{ sensor.name }}">
            </div>
            <div class="sensor-value">
                <h2>{{ sensor.value }}</h2>
            </div>
            <div class="history">
                <h5>History</h5>
                <ul class="history-list">
                    {% for entry in sensor.data %}
                        <li>{{ entry.timestamp }}: {{ entry.value }}</li>
                    {% endfor %}
                </ul>
            </div> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
